#app {
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  font-size: 20px;
  line-height: 2em;
  color: #333;
}

#app *, #app *:before, #app *:after {
  box-sizing: inherit;
}

.grid {
  position: relative;
}

.grid * {
  position: absolute;
}

.grid-square {
  border-radius: 30px;
  width: 70px;
  height: 70px;
  z-index: -1;
}

.hud {
  position: fixed;
  width: 500px;
  right: 20px;
  top: 0px;
}

.hud * {
  position: relative;
}

.hud span {
  padding: 20px;
}

.hud ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hud ul li.highlight {
  font-style: italic;
  font-weight: bold;
  list-style-image: url("../img/go-right.png");
}

.hud button {
  margin-top: 20px;
  width: 100%;
  line-height: 2em;
  font-size: 20px;
}

.red {
  background-color: hsl(0, 50%, 80%);
}

.yellow {
  background-color: hsl(60, 50%, 80%);
}

.green {
  background-color:  hsl(120, 50%, 80%);
}

.teal {
  background-color: hsl(180, 50%, 80%);
}

.blue {
background-color: hsl(240, 50%, 80%);
}

.purple {
  background-color: hsl(300, 50%, 80%);
}
